* {
    font-size: 1rem;
    font-weight: 400;
    font-family: Roboto-Regular;
    margin: unset;
    padding: unset;
    border: unset;
    outline: unset;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/resources/Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/resources/Fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(resources/Fonts/Roboto-Light.ttf);
}